#define WIFI_SSID "MyCoolWifiNetwork"
#define WIFI_PASSWORD "password123"

// Long-Lived Access Token for Home Assistant
// To create one from Home Assistant, go to Profile > Long-Lived Access Tokens > Create Token)
#define HOME_ASSISTANT_TOKEN "asdfasdfasdf"
