#ifndef _SECRETS_H
#define _SECRETS_H

#define WIFI_SSID "red leader"
#define WIFI_PASS "boom"
// Get one here: https://home.openweathermap.org/api_keys
#define OPEN_WEATHER_API_KEY "12345"
// Get one here: https://www.alphavantage.co/support/#api-key
#define ALPHA_VANTAGE_API_KEY "l33t"

#endif
